*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    overscroll-behavior-y: none ;
}

section{
    margin: 10% 20%;
}

h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0rem;

}

h3{
    font-size: 2rem;
    padding: 2rem 0rem;
}

p{
    font-size: 1.3rem;
    line-height: 170%;
    color: rgb(31, 31, 31);
}

#progress-bar{
    position: fixed;
    top:0;
    left: 0;
    height: 8px;
    width: 0%;
    background: linear-gradient(to right,#ff5f6d,#ffc371);
    /* so its always on top irrespective of anything */
    z-index: 100;
    transition: width 0.2sec ease-out;
}

/*transition so it looks some placed in rather than out of place */